body {
  background-color: #DDDDDE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#background {
  background-color: #3395FF;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 40%;
  padding-top: 0px;
  color: white;
  text-align: center;
}

#user {
  position: relative;
  width: 65%;
  height: 300px;
  top: 150px;
  left: 20%;
  background: white;
  border: 0;
  padding-top: 30px;
  padding-bottom: 250px;
  color: #3395FF;
  font-size: 80px;
  
}
.orden {
  position: absolute;
  top: 0px;
  left: 40%;
  width: 40%;
  height: 10px;
}

.userimg {
  color: a#3395FF;
  width: 300px;
  height: 300px;
  padding: 30px;
}

input[type="text"] {
  margin-top: 300px;
  margin-left: center;
  width: 60%;
  height: 35px;
  border: 0px;
  outline: 0px;
  border-bottom: 1px groove gray;
}

input[type="password"] {
  top: 0;
  margin-left: center;
  width: 60%;
  height: 35px;
  border: 0px;
  outline: 0px;
  border-bottom: 1px groove gray;
  margin-bottom: 15px;
}

button{
  background: #3395FF;
  border: 0;
  width: 30%;
  height: 40px;
  margin-top: 15px;
  position: relative;
  left: 15%;
  color: white;
  border-radius: 5px;
}
@media (min-width: 576px) { 
    body{
        
        font-size: 14px;
    }   
}
@media screen and (min-width: 768px) {
    body{
        font-size: 16px;
    }  
}
@media screen and (min-width: 992px) {
    #background{
        background-color: purple ;
        transition: 2s;
    }
    body{
        font-size: 18px;
    }
}
@media screen and (min-width: 1200px) {
    body{
        font-size: 21px;
    } 
}


